/* Define color scheme */
:root {
  --color_background: #fffbf4;
  --color_primary:    #e7dcc6;
  --color_secondary:  #998257;
  --color_tirtiary:   #b39f7c;
  --color_accent:     #962131;
  --font_color_light: #FFFFFF;
  --font_color_dark:  #000000;
}


/* Entire page */
body {
    background-color: var(--color_background);
}

/* Bar across top with main title and buttons*/
.topOfSite {
    width: 91.7%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px;
    margin-bottom: 10px;
}
/* Title at top of each of the 3 columns */
.topOfSection {
    font-size: 150%;
    color: var(--font_color_dark);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
}
/* Buttons */
button {
    background-color: var(--color_accent);
    border: none;
    color: var(--font_color_light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Top right of header where buttons are */
#topRight {
    margin-left: auto;
    margin-right: 0;
}




/* 3 column layout for the types of rollers */
.column {
    float: left;
    width: 30%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*grid layout for rollBox */
.rollBox {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 5fr;
    margin-bottom: 10px;
}
[class^='rb'] {
    background-color: var(--color_primary);
    color: var(--font_color_light);
}
.rbHeader {
    grid-column: 1 / 5;
    grid-row: 1;
    padding: 3px;
    text-align: center;
    background-color: var(--color_secondary);
    font-weight: bold;
}
.rbDesc {
    grid-column: 1 / 5;
    grid-row: 2;
    /*padding set by script*/
    padding: 0px;
    display: "none";
    color: var(--font_color_dark)
}
.rbDieType {
    grid-column: 1;
    grid-row: 3;
    padding: 1px;
    text-align: center;
}
.rbRollResult {
    grid-column: 2;
    grid-row: 3;
    padding: 1px;
    text-align: center;
}
.rbRollValue {
    grid-column: 3 / 5;
    grid-row: 3;
    padding: 1px;
    text-align: center;
}
.rbEffect {
    grid-column: 1 / 5;
    grid-row: 4;
    padding: 1px;
    display: "none";
}
/*rollbox part extra stylings*/
.rollBoxSectionHead {
    padding: 2px;
    background-color: var(--color_tirtiary);
    text-align: center;
}
.rollBoxSectionBody {
    background-color: var(--color_primary);
    padding: 4px;
    color: var(--font_color_dark)
}
.rbEffect > .rollBoxSectionHead {
    padding: 2px;
    background-color: var(--color_accent);
}
/*conditiona section hiding*/
#riverAppearance {
    display: none;
}

/*Helper table for additional info*/
table.helperTable {
    text-align: left;
}
table.helperTable td, table.helperTable th {
    padding: 0 15px;
}